<style>

</style>


<div class="jumbotron <%= @api_color %>%">
  <h1 class="display-4"><%= @final_output %></h1>
  <p class="lead">Di seguito l'attuale situazione dell'ozono e della qualita' d'aria nella zona.</p>
  <hr class="my-4">
  <p><%= @api_description %></p>
  <br />
</div>




